@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Arial', sans-serif; 
    
    background-color: rgba(255, 255, 255, 1); 
  }
  .container{

  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}



.text {
    max-width: 100%;
}

h1 {
    font-size: 32px;
    color: black;
}

h1 span {
    font-weight: bold;
}

p  {
    
    color: #555;
}

button {
    background-color: #ff6b6b;
    color: white;
   width: 208px;
   height: 47px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.image img {
    
    width: 243px;
    height: 243px;
    border-radius: 50%;
    border: 5px solid white;
}
  .featured-works {
    padding: 20px;
  }
  
  .featured-works h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .work-item {
    display: flex;
    margin-bottom: 30px;
  }
  
  .work-item img {
   
    width: 246px;
    height: 184px;
    margin-right: 20px;
    top: 1560px;
    left: 146px;
    border-radius: 6px;
  }
  
  .work-details {
    flex: 1;
    
  }
  
  .work-details h2 {
    width: 305px;
    height: 44px;
    size: 30px;
    margin-bottom: 10px;
  }
  
  .work-info {
    display: flex;
    margin-bottom: 10px;
  }
  
  .work-info span {

    margin-right: 10px;
    color: rgba(134, 149, 164, 1); 
  }
  
  .work-details p {
    width: 594px;
    height: 93px;
   size: 16px;
   line-height: 23,5px;
  }
  
  footer {
    text-align: center;
    top: 1859px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1); 
    color: rgba(33, 36, 61, 1);
  }
  
  .social-icons {
    top: 51px;
    left: 459px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
  }